<% include ../partials/header.ejs %>

<h1 style="{text-color:white;}">
	Welcome to YelpCamp Application....
</h1>
<a href='/campgrounds'>Search for campgrounds..</a>

<% include /workspace/Web-D-Bootcamp/YelpCamp/v1/partials/footer.ejs %>